.header {
    background-color: #f0f0f0;
    height: 60px;
  }

.logo {
color: #3c91e6;
font-size: 24px;
font-weight: bold;
}

.profile-icon {
color: #309f3a;
font-size: 20px;

}

.logo img {
  width: 150px;
  height: auto;
}
